body {
  font-family: "Roboto Condensed", sans-serif;
}

.site-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  transition: opacity 0.4s ease;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.site-header-right {
  display: flex;
  justify-content: left;
  align-items: center;
}

.site-logo, .footer-logo {
  width: 227px;
  height: 60px;
}

.nav-list {
  display: flex;
}

.nav-list, .feature-list, .footer-social-links-list, .list, .list-item-links {
  list-style-type: none;
}

.nav-links {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #252420;
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.nav-links:hover {
  color: #FF7500;
}

.nav-links:active {
  opacity: 0.6;
}

.header-button, .hero-button, .promo-button {
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  background-color: #FF7500;
  color: white;
  transition: opacity 0.4s ease;
}

.header-button:hover {
  opacity: 0.8;
}

.header-button:active {
  opacity: 0.6;
}

.hero {
  background-color: #252420;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.hero-line, .features-line {
  width: 80px;
  height: 3px;
  color: #FF7500;
}

.hero-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5;
}

.hero-button:hover {
  opacity: 0.8;
}

.hero-button:active {
  opacity: 0.6;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.feature-item-icon-wrapper {
  background-color: rgb(255, 117, 0, 0.2);
  width: 100px;
  height: 100px;
}

.features-title {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: 340px;
}

.feature-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5;
  color: black;
}

.feature-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5;
}

.promo {
  background-color: #252420;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-title {
  font-size: 40px;
  line-height: 48px;
}

.promo-text-top, .promo-text-bottom {
  font-size: 16px;
  line-height: 1.5;
}

.promo-content {
  width: 440px;
}

.highlit-text {
  color: #FF7500;
  font-weight: bold;
}

.promo-button:hover {
  opacity: 0.8;
}

.promo-button:active {
  opacity: 0.6;
}

.promo-img-wrapper {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-links-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer {
  background-color: #F8F8F8;
}

.footer-social-link-item {
  width: 24px;
  height: 24px;

}

.footer-social-link-item a{
  color: #252420;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.footer-social-link-item a:hover {
  color: #FF7500; 
}

.footer-social-link-item a:active {
  opacity: 0.6;
}

.list {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-line {
  color: rgb(37, 36, 32, 0.5);
  width: 1100px;
  height: 2px;
}

.list-item-wrapper {
  width: 224px;
}

.links {
  color: #252420;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  transition: opacity 0.4s ease, color 0.4s ease;
}

.links:hover {
  color: #FF7500;
}

.links:active {
  opacity: 0.6;
}
